#root {
  margin: 0 0;
}

.banner-background-gradient {
  background: linear-gradient(90deg, #B1A1FA, #D5CCFC);
}

.btn-background-gradient{
  background: linear-gradient(90deg, #4C2C7E, #8A50E4);
}

.svg-star-with-blur {
  mask-repeat: no-repeat;
  mask-size: contain;
  filter: blur(5px);

}

.svg-star-with-blur path {
  fill: #fff;

}

